.gaegu-regular {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "gaegu", sans-serif;
    color: #333;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 1.2em;
}

#game {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto 50px auto;
}

.health {
    display: flex;
    align-items: center;
    gap: 15px;
}

#healthbar0, #healthbar1 {
    width: 75%;
    height: 30px;
    border: 2px solid #333;
    position: relative;
    overflow: hidden;
    
}

#healthbar0 div, #healthbar1 div{
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(1,148,57,1) 0%, rgba(68,203,120,1) 50%, rgba(1,148,57,1) 100%);
}

#action {
    max-width: 1000px;
    text-align: center;
    padding: 50px;
    margin: auto;
    border: 2px solid #333;
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

/* battle animations */

/* Note the use of names for these classes. They all have the same names 
with a number at the end, so that if the user rolls a 0, 1, 2, etc, that
number can just be tacked on to the class name in JS. */
.attack0 {
    animation: veryweak 1s ease-in-out 2;
}

.attack1 {
    animation: weak 1s ease-in-out 2;
}

.attack2 {
    animation: medium 1s ease-in-out 2;
}

.attack3 {
    animation: strong 1s ease-in-out 2;
}

.attack4 {
    animation: massive 1s ease-in-out 2;
}

.defend2 {
    animation: gobackward 2s ease-in-out 1;
}

.defend0 {
    animation: shake 1s ease-in-out 2;
}

.defend1{
    animation: spin 1s ease-in-out 2;
}

@keyframes veryweak {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);} 
    100% {transform: scale(1);}
}

@keyframes weak {
    0% {transform: scale(1);}
    50% {transform: scale(1.3);} 
    100% {transform: scale(1);}
}

@keyframes medium {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);} 
    100% {transform: scale(1);}
}

@keyframes strong {
    0% {transform: scale(1);}
    50% {transform: scale(1.7);} 
    100% {transform: scale(1);}
}

@keyframes massive {
    0% {transform: scale(1);}
    50% {transform: scale(2);} 
    100% {transform: scale(1);}
}

@keyframes gobackward {
    0% {transform: scale(1);}
    20% {transform: scale(0.6) rotate(-15deg);}
    40% {transform: scale(0.6) rotate(15deg);}
    60% {transform: scale(0.6) rotate(0deg);}
    80% {transform: scale(0.6);}
    100% {transform: scale(1);}
}

@keyframes shake {
    0% {transform: translateX(0px);}
    20% {transform: translateX(-10px);}
    40% {transform: translateX(10px);}
    60% {transform: translateX(-5px);}
    80% {transform: translateX(5px);}
    100% {transform: translateX(0px);}
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);} 
}