.kranky-regular {
  font-family: "Kranky", serif;
  font-weight: 400;
  font-style: normal;
}


.winky-sans-uniquifier> {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

